<h2>Available drones</h2>

{{#each drones}}
<div>
    <ul>
        <li>{{this.name}}</li>
        <li>{{this.propellers}}</li>
        <li>{{this.maxSpeed}}</li>
    </ul>
</div>
<div>
    <a href="/drones/{{this._id}}/edit">Edit</a>
</div>
<form method="POST" action="/drones/{{this._id}}/delete">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
{{/each}}