<h2>Available drones</h2>

<div class="list-container">

    {{#each drones}}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <ul>
                <li class="card-text">{{this.name}}</li>
                <li class="card-text">{{this.propellers}}</li>
                <li class="card-text">{{this.maxSpeed}}</li>
            </ul>
            <a id="edit-btn" class="btn" role="button" href="/drones/{{this._id}}/edit">Edit</a>
            <form method="POST" action="/drones/{{this._id}}/delete">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    {{/each}}

</div>